<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			<!--<%= htmlWebpackPlugin.options.title %>-->
		</title>
		<!--<script type="text/javascript">
			<%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>	
		</script>-->
	</head>

	<body>
		<div class="iconfont">&#xe697;</div>
		<img src="../img/1.jpg" />
		<div id="app"></div>
		<div class="app" style="width:100%;height:300px;"></div>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<!--我是一行注释-->
		<!--<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>" type="text/javascript" charset="utf-8"></script>-->
		<!--<% for(var key in htmlWebpackPlugin.files.chunks) { %>
			<% if(key !== 'main' && key === htmlWebpackPlugin.options.isyourOwnFile) { %>
				<script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript" charset="utf-8"></script>
			<% } %>
		<% } %>-->
	</body>

</html>